name: Deploy Frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Get the code
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Setup Node.js (Environment to build React)
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # 3. Install Dependencies and Build
      - name: Build React App
        run: |
          npm install
          npm run build

      # 4. Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'Gopal-web-dev-centralus' # Must match the name in Terraform
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./build